@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px green;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.container {
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.site {
    margin-top: 1rem;
    background-color: lightsalmon;
    padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

object {
    width: 400px;
    height: 500px;

}

header {
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    color: black;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: white;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
    /* text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1); */
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Lora', serif; */
    /* @media screen and (max-width: 600px) {
    .container { */
    /* Apply some styles */
    /* justify-content: center; */
    /* background-color: brown; */

    /* } */


}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .container {
        justify-content: center;
        /* background-color: lightsalmon; */
    }

    object {
        width: 300px;
        height: 390px;
    }

    .site {
        margin-top: 0.5rem;
    }

    header {
        height: 55px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 479px) {
    .container {
        justify-content: center;
        /* background-color: lightsalmon; */
    }

    object {
        width: 350px;
        height: 420px;
    }

    .site {
        margin-top: 0.5rem;
    }

    header {
        height: 55px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        justify-content: center;
        /* background-color: lightseagreen; */
    }

    object {
        width: 400px;
        height: 500px;

    }

    .site {
        margin-top: 0.5rem;
    }

    header {
        height: 55px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        justify-content: center;
        /* background-color: lightyellow; */
    }

    object {
        width: 700px;
        height: 500px;

    }
}